backend/venv/
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
node_modules/
__pycache__/
*.pyc
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/app/local.properties
android/flutter_plugin_android_lifecycle/
build/
.dart_tool/
